@charset "UTF-8";

.rodape {
    padding: 2rem 5%;

    text-align: center;
    font-size: 0.9rem;
}

.rodape_logo {
    width: 15.25em;
    margin-bottom: 1.5em;
}

.rodape_infos-empresa {
    line-height: 1.5;
    font-size: 1.08rem;
}

.rodape_seção {
    margin-top: 2em;
}

.rodape_lista-midias-sociais {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.rodape_item-midias-sociais {
    display: flex;
    justify-content: center;
    width: 2.62rem;
    margin: 0 .25rem;
}

.rodape_titulo {
    margin-bottom: 1em;

    font-size: 1.45rem;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape_item-lista {
    font-weight: 500;
    font-size: 1.08rem;
}

.form-newsletter {
    display: flex;
    
}