@charset "UTF-8";

.rodape {
    padding-top: 2em;
    padding-bottom: 2em;

    text-align: center;
    font-size: 0.9rem;
}

.rodape_logo {
    width: 15.25em;
    margin-bottom: 1.5em;
}

.rodape_infos-empresa {
    line-height: 1.5;
    font-size: 1.08rem;
}

.rodape_lista-midias-sociais {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 1em;
}

.rodape_item-midias-sociais {
    display: flex;
    justify-content: center;
    width: 2.62rem;
    margin: 0 .25rem;
}

.rodape_titulo {
    margin-bottom: 1em;
    margin-top: 2rem;

    font-size: 1.45rem;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape_item-lista {
    font-weight: 500;
    font-size: 1.08rem;
    padding: 0.45em 0.56em;
}

.rodape_item-lista a {
    text-decoration: inherit;
    color: inherit;
}

@media (max-width: 640px) {
    .rodape_seção + .rodape_seção {
        margin-top: 2rem;
    }
}

@media (min-width: 640px) and (max-width: 1200px) {
    .rodape {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        font-size: 1rem;
    }

    .rodape_seção--sobre,
    .rodape_seção--cursos,
    .rodape_seção--links,
    .rodape_seção--newsletter {
        width: 45%;
    }

    .rodape_seção--cursos {
        order: 1;
        margin: 0;
    }

    .rodape_seção--links {
        order: 2;
        margin: 0;
    }

    .rodape_seção--sobre {
        order: 3;
        margin-top: 2em;
    }

    .rodape_seção--newsletter {
        order: 4;
        margin-top: 2em;
    }
}

@media (min-width: 1200px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        font-size: 0.85rem;

        text-align: left;
    }

    .rodape_titulo {
        font-size: 1.5em;
        margin-left: -0.7rem;
    }

    .rodape_lista-midias-sociais {
        justify-content: left;
    }

    .rodape_seção {
        margin-top: 0;
    }

    .rodape_seção + .rodape_seção {
        margin-left: 2rem;
    }
}

