@charset "UTF-8";

body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
    text-align: justify;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    background-color: #E1EDF2;
    padding: 10px;
}

.subtitulo {
    border-bottom: 2px solid black;
}

main > section > figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figure.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

figure.familia-tupfeln {
    width: 275px;
    float: right;
}

main > section > figure > img {
    width: 100%;
}

main > section > figcaption {
    margin-top: 10px;
}

p#horario1 {
    margin-left: 160px;
    margin-top: -39px;
    font-size: 0.8em;
    
}

p#horario2 {
    margin-left: 80px;
    margin-top: -39px;
    font-size: 0.8em;
}

footer > div > ul {
    list-style-type: none;
    padding-top: 8px;
    font-style: italic;
}

div.realocar {
    float: right;
    margin-top: -149px;
}

footer > div > dl > dt {
    padding: 5px;
}

dt#pessoaju {
    padding-top: 10px;
}

dd#link1 {
    margin-left: 110px;
    margin-top: -25px;
}

dd#link2 {
    margin-left: 125px;
    margin-top: -25px;
}