@charset "UTF-8";

body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
    text-align: justify;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 32px;
}

.subtitulo {
    border-bottom: 2px solid black;
}

main > section > figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

/* Aqui são as configurações de imagens */

main > section > figcaption {
    margin-top: 10px;
}

figure.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

figure.familia-tupfeln {
    width: 275px;
    float: right;
}

main > section > figure > img {
    width: 100%;
}

/* Apartir daqui é o rodapé */

main > section > div > ul {
    list-style-type: none;
    font-style: italic;
}

.contato_subtitulo {
    display: inline;
}

.contato_seçao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato_seçao--telefone {
    margin-left: 32px;
}

.contato_info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato_info-titulo, .contato_info-descriçao {
    display: inline;
}

.contato_info-descriçao {
    margin-left: 10px;
}

.rodape {
    padding: 1.75em 0;
    font-size: 1.1rem;
}

.rodape_logo {
    width: 6em;
}

.rodape_copyright {
    display: inline;
    margin-left: 1em;
}